.recentEvents {
  width: 60%;
  margin: -30px auto;
  background-color: white;
  padding: 15px;
  box-shadow: 0px 0px 25px -11px rgba(71, 71, 71, 0.6);
  min-width: 300px;
  position: relative;
}
.recentevents_header {
  font-size: 20px;
  color: #0f0f0f;
}
.subHeader {
  color: rgb(160, 160, 160);
  font-size: 12px;
  font-weight: 600;
}
.recentEventsTop {
  display: flex;
  justify-content: space-between;
}
.viewAll {
  /* background-color: rgb(236, 95, 30); */
  color: rgb(236, 95, 30);
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  margin: 20px 0;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  position: absolute;
  right: 20px;
  top: 0;
}

.viewAllButtonContainer {
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .recentevents_header {
    font-size: 18px;
  }
}
