.joinUs {
  display: flex;
  height: calc(100vh - 7.5rem);
}
.joinUs_left {
  height: 100%;
  flex: 0.4;
  position: relative;
}
.joinUs_left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.joinUs_right {
  flex: 0.6;
}
.membershipForm_header {
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 30px;
  color: rgb(27, 27, 27);
}
.membershipForm_field {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.membershipForm_field input,
.membershipForm_field select {
  background-color: rgb(233, 233, 233, 0.733);
  border: none;
  padding: 7px;
  width: 20rem;
  border-radius: 3px;
  outline: none;
}
.membershipForm_field label {
  width: 10rem;
  font-weight: 500;
  color: rgb(27, 27, 27);
}
.joinUs_right form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
.joinUs_right form button {
  padding: 7px;
  margin: 20px auto 0 auto;
  background-color: rgb(236, 95, 30);
  color: white;
  border: none;
  outline: none;
  font-weight: 500;
  width: 6rem;
  cursor: pointer;
  border-radius: 3px;
}
.membershipForm_subheader {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(167, 167, 167, 0.7);
  letter-spacing: 2px;
}

@media only screen and (max-width: 855px) {
  .joinUs_right {
    width: 60%;
    margin: 0 auto;
  }
  .joinUs_left {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .membershipForm_header {
    font-size: 30px;
  }
  .joinUs {
    height: auto;
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 548px) {
  .membershipForm_field input,
  .membershipForm_field select {
    width: 15rem;
  }
}
@media only screen and (max-width: 454px) {
  .membershipForm_header {
    font-size: 22px;
  }
  .membershipForm_field label {
    font-size: 14px;
    width: 7rem;
  }
  .membershipForm_field input,
  .membershipForm_field select {
    width: 13rem;
  }
}
