.events {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.event_header {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  margin-top: 50px;
  color: rgb(27, 27, 27);
}
.event_desc {
  margin-top: 10px;
}
.event_desc li {
  margin-top: 10px;
  color: rgb(27, 27, 27);
}
.slider {
  margin-top: 20px;
}
.event {
  margin-bottom: 80px;
}
.slider img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

@media only screen and (max-width: 454px) {
  .event_header {
    font-size: 22px;
  }
  .event_desc li {
    font-size: 14px;
  }
}
