.feedbackForm {
  /* background-color: white; */
  margin-top: 50px;
  /* box-shadow: 0px 0px 25px -11px rgba(71, 71, 71, 0.6); */
  /* padding: 20px; */
}
.name_input {
  display: flex;
  align-items: center;
}
.firstname_input,
.lastname_input,
.email_input,
.message_input {
  display: flex;
  flex-direction: column;
}
.feedbackForm input,
.feedbackForm textarea {
  border: none;
  /* border-bottom: 1px solid black; */
  outline: none;
  padding: 5px;
  /* background-color: rgba(240, 240, 240, 0.733); */
  background-color: white;
  border-radius: 2px;
  margin-top: 5px;
}
.firstname_input,
.lastname_input {
  width: 50%;
}
.lastname_input {
  padding-left: 10px;
}
.firstname_input {
  padding-right: 10px;
}
.email_input,
.message_input {
  margin-top: 20px;
}
.feedbackForm button {
  padding: 6px;
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 6rem;
  font-size: 12px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}
.feedbackForm button:hover {
  padding: 6px;
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 6rem;
  font-size: 12px;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 2px 22px -3px rgba(255, 60, 0, 1);
}
.feedbackForm label {
  font-size: 16px;
  font-weight: 500;
}
.feedbackFormValidationError {
  color: red;
  font-size: 11px;
  margin-top: 5px;
}
.feedbackForm label small {
  margin-left: 2px;
  color: red;
}

@media only screen and (max-width: 454px) {
  .feedbackForm label {
    font-size: 14px;
  }
  .feedbackForm button {
    font-size: 14px;
  }
}
