.feedbackForm {
  margin-top: 50px;
}
.name_input {
  display: flex;
  align-items: center;
}
.firstname_input,
.lastname_input,
.email_input,
.message_input {
  display: flex;
  flex-direction: column;
}
.feedbackForm input,
.feedbackForm textarea {
  border: none;
  outline: none;
  padding: 5px;
  background-color: white;
  border-radius: 2px;
  margin-top: 5px;
}
.firstname_input,
.lastname_input {
  width: 50%;
}
.lastname_input {
  padding-left: 10px;
}
.firstname_input {
  padding-right: 10px;
}
.email_input,
.message_input {
  margin-top: 20px;
}
.feedbackForm label {
  font-size: 16px;
  font-weight: 500;
}
.feedbackFormValidationError {
  color: red;
  font-size: 11px;
  margin-top: 5px;
}
.feedbackForm label small {
  margin-left: 2px;
  color: red;
}

@media only screen and (max-width: 454px) {
  .feedbackForm label {
    font-size: 14px;
  }
}
