.founders {
  width: 80%;
  margin: 8rem auto 0 auto;
  /* background-color: whitesmoke; */
}
.founders_prakhar,
.founders_harsha {
  display: flex;
  justify-content: space-between;
}
.foundersPrakhar_main {
  padding-top: 60px;
  position: relative;
  padding-right: 100px;
}
.founders_quote {
  font-style: italic;
  color: rgb(102, 102, 102);
  font-size: 16px;
  line-height: 25px;
}
.foundersPrakhar_main .MuiSvgIcon-root {
  position: absolute;
  font-size: 100px;
  color: rgba(245, 57, 0, 0.575);
  z-index: -1;
  top: 5px;
  right: 100px;
}
.founders_name {
  margin-top: 20px;
  font-weight: 500;
}
.desig {
  margin-top: 10px;
  text-transform: uppercase;
  color: rgba(128, 128, 128, 0.788);
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 12px;
}
.foundersImg_container img {
  filter: grayscale(100%);
  width: 100%;
}
.foundersImg_container {
  width: 70rem;
}
.founders_harsha {
  flex-direction: row-reverse;
  margin-top: 3rem;
}
.foundersHarsha_main {
  padding-top: 60px;
  position: relative;
}
.foundersHarsha_main .MuiSvgIcon-root {
  position: absolute;
  font-size: 100px;
  color: rgba(245, 57, 0, 0.575);
  z-index: -1;
  top: 5px;
  transform: rotateY(180deg);
}
.founders_harsha .foundersHarsha_main {
  padding-left: 30px;
}

@media only screen and (max-width: 1080px) {
  .foundersImg_container {
    width: 100rem;
  }
}

@media only screen and (max-width: 768px) {
  .founders_prakhar,
  .founders_harsha {
    flex-direction: column;
  }
  .foundersImg_container {
    width: 100%;
  }
  .foundersHarsha_main {
    display: grid;
    place-items: center;
  }
  .foundersPrakhar_main {
    display: grid;
    place-items: center;
    padding-right: 0;
  }
  .foundersPrakhar_main .MuiSvgIcon-root {
    right: auto;
  }
  .founders {
    margin-top: 4rem;
  }
}

@media only screen and (max-width: 468px) {
  .founders_quote {
    font-size: 14px;
  }
}
