.founders {
  margin-top: 6rem;
  margin-bottom: 50px;
}
.founders_header {
  color: #0f0f0f;
  text-align: center;
  text-transform: uppercase;
  font-size: 35px;
  color: rgb(27, 27, 27);
}
.founders_main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto;
}

.founders_name {
  font-weight: 600;
  font-size: 18px;
}
.founders_quote {
  line-height: 20px;
  padding: 0 20px;
  margin-top: 10px;
  font-style: italic;
  text-align: center;
  font-size: 16px;
  color: rgb(92, 92, 92);
}
.desig {
  color: rgb(92, 92, 92);
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 5px;
}
.founders_prakhar,
.founders_harsha {
  border-top: 3px solid rgb(236, 95, 30);
  margin: 30px auto;
  box-shadow: 0px 0px 25px -11px rgba(71, 71, 71, 0.6);
  width: 25rem;
  border-radius: 3px;
  display: grid;
  place-items: center;
  padding-bottom: 50px;
  height: 22rem;
  min-width: 15rem;
}
.founders_img {
  width: 70%;
}
.foundersImg_container {
  display: grid;
  place-items: center;
}
.founders_prakhar {
  margin-right: 30px;
}
.founders_harsha {
  margin-left: 30px;
}

@media only screen and (max-width: 768px) {
  .founders_main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .founders_prakhar,
  .founders_harsha {
    margin: 30px auto;
    width: 20rem;
  }
  .founders_header {
    font-size: 30px;
  }
}
@media only screen and (max-width: 454px) {
  .founders_prakhar,
  .founders_harsha {
    margin: 30px auto;
    width: 15rem;
  }
  .founders_name {
    font-size: 15px;
  }
  .desig {
    font-size: 12px;
  }
  .founders_header {
    font-size: 22px;
  }
  .founders_quote {
    font-size: 14px;
  }
}
