.whatDrivesUs {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  place-items: center;
}
.whatDrivesUs_header {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(27, 27, 27);
  text-align: center;
  margin-bottom: 20px;
}

.whatDrivesUs li {
  font-size: 16px;
  margin-top: 10px;
  line-height: 25px;
  color: #0f0f0f;
}
.whatDriveUs_para {
  line-height: 25px;
  margin-top: 25px;
}
.whatDrivesUs a button {
  padding: 10px;
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 8rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
}
.whatDrivesUs a button:hover {
  padding: 10px;
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 8rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 20px;
  box-shadow: 0px 2px 22px -3px rgba(255, 60, 0, 1);
}
.joinus_button {
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  width: 10rem !important;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 500;
}
.joinus_button:hover {
  font-weight: 600 !important;
  box-shadow: 0px 2px 22px -3px rgba(255, 60, 0, 1);
  background-color: rgb(236, 95, 30);
}

@media only screen and (max-width: 768px) {
  .whatDrivesUs_header {
    font-size: 30px;
  }
  .whatDrivesUs {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 454px) {
  .whatDrivesUs_header {
    font-size: 22px;
  }
  .whatDrivesUs li {
    font-size: 14px;
  }
  .whatDriveUs_para {
    font-size: 14px;
  }
  .whatDrivesUs {
    margin-top: 2rem;
  }
}
