.whatDrivesUs {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
  display: grid;
  place-items: center;
}
.whatDrivesUs_header {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(27, 27, 27);
  text-align: center;
  margin-bottom: 20px;
}

.whatDrivesUs li {
  font-size: 16px;
  margin-top: 10px;
  line-height: 25px;
  color: #0f0f0f;
}
.whatDriveUs_para {
  line-height: 25px;
  margin-top: 25px;
}
.whatDrivesUs a {
  background-color: rgb(236, 95, 30);
  color: white;
  border: none;
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  margin: 20px auto;
  border-radius: 3px;
  cursor: pointer;
  outline: none;
  width: 8rem;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .whatDrivesUs_header {
    font-size: 30px;
  }
  .whatDrivesUs {
    margin-top: 5rem;
  }
}
@media only screen and (max-width: 454px) {
  .whatDrivesUs_header {
    font-size: 22px;
  }
  .whatDrivesUs li {
    font-size: 14px;
  }
  .whatDriveUs_para {
    font-size: 14px;
  }
  .whatDrivesUs {
    margin-top: 2rem;
  }
}
