.home .section1 {
  display: flex;
}
.recentEvents_container {
  width: 50%;
}
.ourVision_container {
  width: 60%;
}
.feedbackForm_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 40px 12rem;
  margin: 10rem auto 0 auto;
  align-items: center;
  /* background-color: rgba(255, 115, 0, 0.7); */
  background-color: whitesmoke;
}
.feedbackForm_container h1 {
  text-transform: uppercase;
  font-size: 35px;
}
.feedbackForm_container p {
  font-weight: 500;
  color: rgb(190, 190, 190);
  margin-top: 10px;
}
.feedbackFormContainer_left {
  /* margin-top: 40px; */
  flex: 0.6;
}
.feedbackFormContainer_right {
  flex: 0.3;
  padding: 20px;
}
.feedbackFormRight_header {
  font-size: 20px;
  margin-left: 10px;
  text-align: justify;
}
.feedbackFormContainer_right a {
  text-decoration: none;
  color: rgb(236, 95, 30);
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.feedbackFormContainer_right a p {
  font-size: 14px;
  margin-left: 10px;
  color: rgb(31, 31, 31);
}

.feedbackFormContainer_social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 15rem;
  margin-top: 30px;
}
.feedbackFormContainer_right .MuiSvgIcon-root {
  font-size: 26px;
}

.feedbackFormContainer_social .MuiSvgIcon-root {
  color: rgb(236, 95, 30);
}

@media only screen and (max-width: 1080px) {
  .feedbackForm_container {
    width: 80%;
  }
}
@media only screen and (max-width: 882px) {
  .section1 {
    flex-direction: column-reverse;
  }
  .ourVision_container {
    width: 90%;
    margin: 0 auto;
  }
  .recentEvents_container {
    width: 100%;
  }
}
@media only screen and (max-width: 820px) {
  .feedbackForm_container {
    flex-direction: column;
    margin-top: 5rem;
  }
  .feedbackFormContainer_right {
    margin-top: 30px;
  }
  .feedbackForm_Header {
    font-size: 30px !important;
    text-align: center;
  }
  .feedbackFormContainer_left p {
    text-align: center;
  }
}

@media only screen and (max-width: 454px) {
  .feedbackForm_Header {
    font-size: 22px !important;
    text-align: center;
  }
  .feedbackFormContainer_left p {
    font-size: 14px;
    text-align: center;
  }
  .feedbackForm_container {
    width: 90%;
    margin-top: 1rem;
  }
}
