.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 30px;
  position: absolute;
  width: 100vw;
}
.navbar_logo {
  flex: 0.5;
}
.navbar_logo img {
  width: 120px;
}
.navbar_links {
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
}
.navbar_links a {
  text-decoration: none;
  color: rgb(26, 26, 26);
  font-weight: 500;
}
.navbar_links a:hover {
  color: rgba(255, 255, 255, 0.726);
}
