.footer {
  background-color: rgb(26, 26, 26);
  padding: 1rem 1rem 1rem 1rem;
}

.footer p {
  font-size: 14px;
  color: white;
  text-align: center;
}
.logo{
  width: 10rem;
  margin: auto;
}
.logo img{
  width: 10rem;

}
.footer-social{
  display: flex;
  color: antiquewhite;
  /* width: 80vw; */
  margin: auto;
  justify-content: space-around;
}
.footer-social div{
display: flex;
flex-direction: column;
margin: 1rem;
}
.footer-social div li{
  list-style: none;
  margin: 0.5rem 5rem;
  font-size: .8rem;
}