.banner {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}
.banner_right {
  flex: 0.5;
  position: relative;
  z-index: -1;
}
.banner_left {
  flex: 0.5;
  position: relative;
}
.banner_left h1,
.banner_left h2 {
  position: absolute;
  top: 150px;

  text-transform: uppercase;
}
.banner_left h2 {
  top: 230px;
  right: -30px;
  font-size: 100px;
  font-weight: 900;
  letter-spacing: 10px;
  color: #595959b6;
}
.banner_left h1 {
  font-size: 55px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #070707c2;
  right: -60px;
}
.banner_right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.joinus_button {
  position: absolute;
  padding: 10px;
  top: 470px;
  left: 380px;
  /* background-color: whitesmoke; */
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 10rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 600;
  letter-spacing: 2px;
}
.joinus_button:hover {
  position: absolute;
  padding: 10px;
  top: 470px;
  left: 380px;
  background-color: rgb(236, 95, 30);
  border: 2px solid rgb(236, 95, 30);
  color: white;
  outline: none;
  font-weight: 500;
  width: 10rem;
  cursor: pointer;
  border-radius: 100px;
  font-weight: 700;
  box-shadow: 0px 2px 22px -3px rgba(255, 60, 0, 1);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 115, 0, 0.486);
}
.banner_quote {
  position: absolute;
  top: 380px;
  padding-left: 140px;
  margin-right: 5px;
  line-height: 25px;
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  color: rgb(27, 27, 27);
}
